<div id="<%= dom_id teacher %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= teacher.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bio:</strong>
    <%= teacher.bio %>
  </div>
</div>
